/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2015, 02:03:32
    Author     : GIOVANE
*/

/* style.css */
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f9f9f9;
}
.row {
    margin-bottom: 20px;
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
}
div[role="main"] {
    background-color: #fff;
}
div[role="main"], nav, aside {
    height: 550px;
}

.tabuleiro{
    width: 100%;
    height: 100%;
    border: black 1px solid;
}

.casa{
    width: 12.5%;
    height: 12.5%;
    float: left;
    padding: 10px;
}

.casa img{
    width: 80%;
    height: 90%;
}

.casa.branca{
    background-color: #a6e1ec;
}

.casa.escura{
    background-color: #23527c;
}

.casa.selecionada{
    border: #eea236 3px solid;
}

.casa.marca_movimento{
    border: #d43f3a 3px solid;
}


#div-login {
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    height:300px;
    margin-left:-250px;
    margin-top:-150px;
    text-align:center;
    padding: 15px;
    padding-top: 50px;
}

#l-box {
    position:absolute;
    top:50%;
    left:50%;
    width:350px;
    height:200px;
    margin-left:-190px;
    margin-top:-150px;
    text-align:center;
    padding: 15px;
    border: 1px darkcyan solid;
    padding-top: 50px;
    background: cadetblue;
    border-radius: 2px;
}

input{
    padding: 5px;
    padding-left: 8px;
    font-size: 18px;
    color: darkslategrey;
    font-style: oblique;
}


#div-login input {
    border: 1px cadetblue solid;
    width: 300px;
    height: 30px;
    border-radius: 3px;
    margin-top: 5px;

}


input:hover{
    border: 3px blueviolet solid;
    background: aliceblue;

}

#bt-login{
    margin-top: 10px;
    width: 316px;
    height: 55px;
    border: 1px teal solid;
    background: slategrey;
    font: x-large cursive;
    color: whitesmoke;

}
#bt-login:hover{
    background: silver;
    border-radius: 2px;

}


.pisca{
    background: tomato;
    color: white;
}

.botao_customizado{
    margin: 10px;
}
.botao_customizado img{
    width: 70px;
    height: 100px;
    float: right;
}

.peca{
    
}




